<ion-view  name="schedules-view">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
    <ion-nav-title>
      Schedules
    </ion-nav-title>
     <select class="bar bar-subheader ">
        <option>Monday Day 1</option>
        <option selected>Tuesday Day 2</option>
        <option>Wednesday Day 3</option>
        <option>Thursday Day 4</option>
        <option>Friday Day 5</option>
        <option>Saturday Day 6</option>
    </select>
  </ion-nav-bar>

  <ion-content class="padding has-subheader" style=" margin:0 auto">
     <div class="card">
      <div class="item item-icon-right" style="background-color:#0b0c0a; color:#fff">
        <i class="icon ion-chevron-down"></i>
        8 - 9am
      </div>
      <div class="list" >

        <a href="#" class="item">
          <h2>The indiscriminate killing in Nigeria, way forward</h2>
          <p>Barister Adegoke Oyesola</p>
        </a>

        <a href="#" class="item">
          <h2>The indiscriminate killing in Nigeria, way forward</h2>
          <p>Barister Akanbi Oyesola</p>
        </a>

        <a href="#" class="item">
          <h2>The indiscriminate killing in Nigeria, way forward</h2>
          <p>Barister Adesina Oyesola</p>
        </a>

        <a href="#" class="item">
          <h2>The indiscriminate killing in Nigeria, way forward</h2>
          <p>Iresola Adegoke Oyesola</p>
        </a>

      </div>
    </div>
  </ion-content>
</ion-view>