<ion-view  name="login-view">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
   <ion-nav-title>
      Session details
   </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="padding" style="width: 400px; margin:0 auto">
      <div class="item item-divider " style="color:#000">
        Indiscriminate killing in Nigeria
      </div>

        <div class="item item-text-wrap">
          Cards have become widely used in recent years. They're are a great way to contain and organize information, while also setting up predictable expectations for the user. With so much content to display at once, and often so little screen realestate, cards have fast become the design pattern of choice for many companies, including the likes of Google
        </div>

      <button class="button button-block button-calm" ng-click="login()">Attend</button>
  </ion-content>
</ion-view>