<ion-view  name="speaker-view">
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
   <ion-nav-title>
      Speakers
   </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="padding" style="margin:0 auto">
      <div class="item item-avatar" >
        <img src="./img/profile_pic.jpg"\>
        <h2>Egbewunmi Mayowa</h2>
        <p>Software Engineer</p>
      </div>
      <div class="item item-body">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>
  </ion-content>
</ion-view>